<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    
    <typeAliases>
		<!-- 扫描核心包并注册别名 -->
		<package name="com.lb.base.entity" />

		<!-- <package name="pzgl.WebService.entity" />

		<package name="pzgl.lcgl.entity" />
        <package name="pzgl.lcgl.bbtj.entity" />
        <package name="pzgl.lcgl.bdtj.entity" />
		<package name="pzgl.lcgl.theme.entity" />
		<package name="pzgl.lcgl.table.entity" />
		<package name="pzgl.lcgl.task.entity" />
		<package name="pzgl.lcgl.zljc01_hotel.entity" />
		<package name="pzgl.bbgl.entity" /> -->
	</typeAliases>
	
    <!-- <plugins>
         <plugin interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
            <property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.OracleDialect"/>
        </plugin>
    </plugins> -->
</configuration>